body {  
    font-family: Raleway, sans-serif;
    background-color: #d8d5d5;
}

section {
    padding: 320px 16px;
    text-align: center;
    color: #000000;
}

.mainBlock {
    font-size: 32px;
}

.pictureSvg {
    display: inline-block;
    cursor: pointer;
    width: 70px;
    height: 70px;
  border-radius: 50%;
  background-color: #2a69a6;
  border: 2px solid #2a69a6;
    margin-bottom: 50px;
    fill: white;
    position: static;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 30px;
    font-weight: 700;
}

p {
    font-size: 15px;
    line-height: 1.6;
}


.pictureSvg:hover svg {
    fill: #2a69a6;
}

.pictureSvg:hover {
    background-color: white;
}

