body {
    font-family: Raleway, sans-serif;
}

.container {
    width: 99%;
    font-size: 18px;
    background-color: #990909;
    margin: auto;
    padding: 0 3px 0 10px;
}

.header {
    text-align: center;
}

.titlePicture {
    width: 25%;
    padding: 15px 0 5px;
}

p {
    text-align: left;
    line-height: 1.35;
}

.content {
    background-color: #000000;
    display: flex;
}

.element {
    text-align: center;
    cursor: pointer;
    padding: 20px;
    width: 25%;
}

.picture {
    height: 70px;
    margin-bottom: 170px;
}

.element h2 {
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
}

.mainPart {
    display: flex;
}

.paragraph {
    padding: 5px 5px 0 10px;
    color: #ffffff;
    padding-top: 20px;
}

.leftColumn {
    background-color: #7d0909;
    width: 45%;
    color: #e95b11;
    text-decoration: underline;
}

.rightColumn {
    width: 40%;
    background-color: #e3dddd;
    padding-bottom: 10px;
}

.rightColumn h2 {
    text-align: center;
    font-weight: bold;
    background-color: #bdbdbd;
}

.rightColumn p {
    text-align: left;
    padding-left: 2px;
}

footer {
    padding: 20px 0 40px;
}

footer h2 {
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #e95b11;
}
