body {
    background: #341919;   
    font-family: Raleway, sans-serif;
}



section {
    padding: 320px 16px;
    text-align: center;
    color: #ffffff;
}

.mainBlock {
    background: grey;
    font-size: 32px;;
}

.red {
    background: #341919;    
}

.picture {
    height: 70px;
    margin-bottom: 50px;
}

h2 {
    text-transform: uppercase;
    font-size: 18px;
    padding-bottom: 30px;
}

p {
    font-size: 12px;
    line-height: 1.6;
}

.blue {
    background: rgb(130,130,253);
}

.green {
    background: rgb(130,253,146);
}