body {
    font-family: Montserrat, sans-serif;
    color: #777777;
}

.container {
    width: 100%;
    max-width: 970px;
    min-width: 360px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding: 140px 0 100px;
    text-transform: uppercase;
}

.subTitle {
    font-size: 12px;
    font-weight: 700;
}

