* {
    box-sizing: border-box;
}

body {
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
}

.container {
    margin-top: 175px;
    font-size: 0px;
}

.content {
    display: flex;
    justify-content: center;
}

.coffee-house {
    font-size: 36px;
    background-color: #fdde7e;
    width: 1200px;
    height: 600px;
    padding: 0 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.bronze, .silver {
    width: 360px;
    height: 441px;
    background-color: #fff;
    text-align: center;
    padding-bottom: 32px;
}

.gold {
    width: 360px;
    height: 500px;
    background-color: #fff;
    text-align: center;
}

.price 
{
    font-size: 70px;
    color: #02995b;
    padding: 27px 0 21px;
}

img {
    padding: 0 105px 0 120px;
}

.text1 {
    font-size: 56px;
    padding: 26px 0 15px;
}

.text2 {
    font-size: 20px;
    line-height: 1.35;
}

.price1 
{
    font-size: 70px;
    color: #02995b;
    padding: 40px 0 43px;
}

.text11 {
    font-size: 56px;
    padding: 34px 0 15px;
}

.text21 {
    font-size: 20px;
    line-height: 1.35;
}

.smile {
    position: absolute;
    background-color: rgba(71,88,165, 0.5);
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border: 5px solid #21bfb9;
    top: 200px;
    right: 733px;
    -webkit-transition: -webkit-transform 1.5s;
    transition: transform 1.5s;
}

.smile-text {
    position: relative;
    display: flex;
    color: #fff;
    font-size: 48px;
    justify-content: center;
    align-items: center;
    top: 20px;
}

.smile:hover {
    -webkit-transform: translate3D(-680px,447px,0) rotate(1080deg);
    transform: translate3D(-680px,447px,0) rotate(1080deg);
}